@font-face {
    font-family: 'GoshaSans';
    src: url('@/assets/fonts/GoshaSans/GoshaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/GoshaSans/GoshaSans-Regular.woff2') format('woff2'),
        url('@/assets/fonts/GoshaSans/GoshaSans-Regular.woff') format('woff'),
        url('@/assets/fonts/GoshaSans/GoshaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GoshaSans';
    src: url('@/assets/fonts/GoshaSans/GoshaSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/GoshaSans/GoshaSans-Bold.woff2') format('woff2'),
        url('@/assets/fonts/GoshaSans/GoshaSans-Bold.woff') format('woff'),
        url('@/assets/fonts/GoshaSans/GoshaSans-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
