$mobile: 768px;
$tablet: 1024px;
$desktop: 1366px;

@mixin desktop() {
	@media (max-width: $desktop) {
		@content;
	}
}
@mixin tablet() {
	@media (max-width: $tablet) {
		@content;
	}
}
@mixin mobile() {
	@media (max-width: $mobile) {
		@content;
	}
}

@mixin transition() {
	transition: 0.2s ease;
}

@mixin flex($ai: center, $jc: stretch, $gap: 0px, $fd: row) {
	display: flex;
	align-items: $ai;
	justify-content: $jc;
	gap: $gap;
	flex-direction: $fd;
}
