// цвета
$black: #282c34;
$gray: #82868e;
$lightGray: #d6d6d6;
$red: #dc1020;
$white: #ffffff;
$text: #1c294dcc;
$border: #dfe0e1;
$accent: #ff7a00;

// шрифты
$firstFont: "Roboto", sans-serif;
$secondFont: "GoshaSans", sans-serif;
